<footer class="row">
  <div class="col-md-12 text-center text-muted">
    <small><a href="/">Bundlr</a> | Copyright &copy; <%= new Date().getFullYear() %> | RGK</small>
  </div>
</footer>

<!-- Required JavaScript files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <script src="app.js"></script>
