<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/_head %>
  <body>
    <% include ../views/partials/_header %>
    <%- body %>
    <% include ../views/partials/_footer %>
  </body>
</html>
