<section class="profile">
  <div class="container">
    <div class="page-header">
      <h2 class="ui header">Account Information</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if(user.facebook.id) { %>
          <h3>Facebook User</h3>
        <% } else { %>
          <h3>Locally Stored User</h3>
        <% } %>
        <p>
          <strong>Name:</strong> <%= user.local.firstName + ' ' + user.local.lastName || user.facebook.name %><br>
          <strong>User ID:</strong> <%= user._id %><br>
          <strong>Email:</strong> <%= user.local.email || user.facebook.email %><br>
          <strong>Password:</strong> <%= user.local.password || user.facebook.token %>
        </p>
      </div>
    </div>
    <a href="/logout">
      <button class="ui teal button">Logout</button>
    </a>
  </div>
</section>
